.wp-block-create-block-postgrid {
	background-color: #ffffff;
	color: #292929;
	padding: 2px;

	.post-grid {
		.post-grid-wrapper {
			display: grid;
			gap: var(--column-gap);
			grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
			.grid-card {
				background: var(--card-bg);
				border-color: #dcdcde;
				border-style: solid;
				border-width: 0px;
				border-radius: 4px;
				box-shadow: 0px 3px 6px 0px #00000026;
				transition: background-color 0.3s ease-in-out;

				.post-grid-thumnail img {
					max-width: 100%;
					margin: auto;
					height: 100%;
					object-fit: cover;
				}

				.content-body {
					.post-grid-title h5 {
						text-align: center;
						margin-top: var(--titleMarginTop);
						margin-bottom: var(--titleMarginBottom);
						margin-left: var(--titleMarginLeft);
						margin-right: var(--titleMarginRight);

						a {
							font-size: 18px;
							font-weight: 600;
							text-decoration: none;
							line-height: 24px;
							color: var(--titleColor);
						}

						a:hover {
							color: var(--titleHoverColor);
						}
					}

					.post-grid-meta {
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						color: var(--metaColor);
						text-align: var(--metaTextAlign);
						margin-top: var(--metaMarginTop);
						margin-right: var(--metaMarginRight);
						margin-bottom: var(--metaMarginBottom);
						margin-left: var(--metaMarginLeft);
					}

					.post-grid-meta:hover {
						color: var(--metaHoverColor);
					}

					.post-grid-excerpt {
						font-size: 16px;
						font-weight: 400;
						line-height: 28px;
						color: var(--excerptColor);
						text-align: var(--excerptTextAlign);
						margin-top: var(--excerptMarginTop);
						margin-right: var(--excerptMarginRight);
						margin-bottom: var(--excerptMarginBottom);
						margin-left: var(--excerptMarginLeft);
					}

					.post-grid-excerpt:hover {
						color: var(--excerptHoverColor);
					}

					.post-grid-btn a {
						font-size: 16px;

						padding-top: var(--readMorePaddingTop);
						padding-right: var(--readMorePaddingRight);
						padding-bottom: var(--readMorePaddingBottom);
						padding-left: var(--readMorePaddingLeft);
						margin-top: var(--readMoreMarginTop);
						margin-right: var(--readMoreMarginRight);
						margin-bottom: var(--readMoreMarginBottom);
						margin-left: var(--readMoreMarginLeft);
						color: var(--readMoreColor);
						background: var(--readMoreBackground);
						border-radius: 4px;
						display: inline-block;
					}

					.post-grid-btn a:hover {
						background: var(--readMoreBackgroundHover);
						color: var(--readMoreColorHover);
					}
				}
			}
		}
	}

	.grid-card {
		background: var(--card-bg);
		border-color: #dcdcde;
		border-style: solid;
		border-width: 0px;
		border-radius: 4px;
		box-shadow: 0px 3px 6px 0px #00000026;
		transition: background-color 0.3s ease-in-out;

		.post-grid-thumnail img {
			max-width: 100%;
			margin: auto;
			height: 100%;
			object-fit: cover;
		}

		.content-body {
			.post-grid-title h5 {
				text-align: center;
				margin-top: var(--titleMarginTop);
				margin-bottom: var(--titleMarginBottom);
				margin-left: var(--titleMarginLeft);
				margin-right: var(--titleMarginRight);

				a {
					font-size: 18px;
					font-weight: 600;
					text-decoration: none;
					line-height: 24px;
					color: var(--titleColor);
				}

				a:hover {
					color: var(--titleHoverColor);
				}
			}

			.post-grid-meta {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: var(--metaColor);
				text-align: var(--metaTextAlign);
				margin-top: var(--metaMarginTop);
				margin-right: var(--metaMarginRight);
				margin-bottom: var(--metaMarginBottom);
				margin-left: var(--metaMarginLeft);
			}

			.post-grid-meta:hover {
				color: var(--metaHoverColor);
			}

			.post-grid-excerpt {
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
				color: var(--excerptColor);
				text-align: var(--excerptTextAlign);
				margin-top: var(--excerptMarginTop);
				margin-right: var(--excerptMarginRight);
				margin-bottom: var(--excerptMarginBottom);
				margin-left: var(--excerptMarginLeft);
			}

			.post-grid-excerpt:hover {
				color: var(--excerptHoverColor);
			}

			.post-grid-btn a {
				font-size: 16px;

				padding-top: var(--readMorePaddingTop);
				padding-right: var(--readMorePaddingRight);
				padding-bottom: var(--readMorePaddingBottom);
				padding-left: var(--readMorePaddingLeft);
				margin-top: var(--readMoreMarginTop);
				margin-right: var(--readMoreMarginRight);
				margin-bottom: var(--readMoreMarginBottom);
				margin-left: var(--readMoreMarginLeft);
				color: var(--readMoreColor);
				background: var(--readMoreBackground);
				border-radius: 4px;
				display: inline-block;
			}

			.post-grid-btn a:hover {
				background: var(--readMoreBackgroundHover);
				color: var(--readMoreColorHover);
			}
		}
	}

	.grid-card:hover {
		background-color: var(--card-bg-hover);
	}

	.pagecrafter-tab-panel .components-tab-panel__tabs {
		margin-bottom: 10px;

		.is-active {
			background-color: #ffffff !important;
			color: #008db4 !important;
		}

		.components-tab-panel__tabs-item {
			background-color: #008db4;
			color: #ffffff;
		}
	}

	.wp-block-create-block-postgrid .post-grid .grid-card:hover {
		background-color: var(--card-bg-hover);
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}

	/* Responsive Styles */
	@media (max-width: 1024px) {
		.post-grid {
			.post-grid-wrapper {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	@media (max-width: 575px) {
		.MobileHide {
			display: none;
		}
		.post-grid {
			.post-grid-wrapper {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		.grid-card .content-body .post-grid-title h5 a {
			font-size: 16px;
		}

		.grid-card .content-body .post-grid-meta,
		.grid-card .content-body .post-grid-excerpt {
			font-size: 14px;
		}

		.grid-card .content-body .post-grid-btn a {
			font-size: 14px;
			padding: 6px 12px;
		}
	}

	.ajax-pagination {
		margin-top: 20px;
		text-align: center;

		button {
			margin: 0 4px;
			padding: 6px 12px;
			cursor: pointer;
			background: #f1f1f1;
			border: 1px solid #ccc;

			&.active {
				background: #007cba;
				color: white;
			}

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
	}
}

.block-editor-block-inspector__advanced {
	display: none;
}

.desktopHide {
	display: none;
}

@media only screen and (max-width: 780px) {
	.tabHide {
		display: none;
	}
}
