.wp-block-create-block-infobox {
	.info-box {
		background: #ffffff;
		border-width: var(--BorderWidth);
		border-color: var(--borderColor);
		border-radius: var(--BorderRadius);
		border-style: var(--BorderType);
		box-shadow: var(--boxShadow);
		margin: 0px 0px 0px 0px;
		background: var(--background);
		margin: var(--margin);
		padding: var(--padding);

		&:hover {
			border-color: var(--borderHoverColor);
			background: var(--backgroundHover);
			box-shadow: var(--boxShadowHover);

		}

		.info-box__title {
			line-height: 1.2;
			margin: 0px 0px 0px 0px;
			text-align: var(--contentAlign);

			.text {
				font-size: 18px;
				font-weight: 700;
				margin-top: var(--titleMarginTop);
				margin-right: var(--titleMarginRight);
				margin-bottom: var(--titleMarginBottom);
				margin-left: var(--titleMarginLeft);
				padding: 0px;
				color: var(--titleColor);

				&:hover {
					color: var(--titleHoverColor);
				}
			}
		}

		.info-box__content {
			color: #050505;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			margin: 0px 0px 0px 0px;
			text-align: var(--contentAlign);

			p {
				margin-top: var(--ContentMarginTop);
				margin-right: var(--ContentMarginRight);
				margin-bottom: var(--ContentMarginBottom);
				margin-left: var(--ContentMarginLeft);
				color: var(--ContentColor);

				&:hover {
					color: var(--ContentHoverColor);
				}
			}
		}

		.info-box__icon {
			font-size: 30px;
			color: #1a261f;
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			background: transparent;
			text-align: center;
			display: block;

			.dashicons {
				font-size: 40px;
			}
		}

		.info-box__read-more {
			display: flex;
			align-items: center;
			justify-content: var(--readMoreAlign);

			.info-box__read-more-content {
				display: flex;
				align-items: center;
				gap: 4px;
				cursor: pointer;

				&.hasButton {
					background: var(--readMoreBackground);
					padding-top: var(--callToActionPaddingTop);
					padding-right: var(--callToActionPaddingRight);
					padding-bottom: var(--callToActionPaddingBottom);
					padding-left: var(--callToActionPaddingLeft);
					color: var(--readMoreColor);

					border-style: var(--callBorderType);
					border-color: var(--callBorderColor);
					border-width: var(--callBorderWidth);
					border-radius: var(--callBorderRadius);

					&:hover {
						background: var(--readMoreHoverBack);
						color: var(--readMoreHoverColor);
						transition: all 0.3s ease-in-out;
						border-color: var(--callBorderHoverColor);
					}
				}

				p {
					margin: 0;
					font-size: 15px;
				}
			}
		}
	}

	/* Default: All hidden */
	.desktopHide,
	.MobileHide,
	.tabHide {
		display: none;
	}


	@media (max-width: 767px) {

		.desktopHide,
		.tabHide {
			display: block;
		}

		.MobileHide {
			display: none;
		}
	}

	/* Tablet - 768px to 1024px */
	@media (min-width: 768px) and (max-width: 1024px) {

		.desktopHide,
		.MobileHide {
			display: block;
		}

		.tabHide {
			display: none;
		}
	}

	/* Desktop - 1025px and up */
	@media (min-width: 1025px) {

		.MobileHide,
		.tabHide {
			display: block;
		}

		.desktopHide {
			display: none;
		}
	}
}